.link{
   color: white;
   text-decoration: none;
   font-size: 22px;
}
#dlt{
   color: red;
   text-decoration: none;
   font-size: 18px;
}
#upd{
   color: green;
   text-decoration: none;
   font-size: 18px;
}